body
{
    background-image: url("gifstrona.gif");
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;
    font-size: larger;
    font-family:'Times New Roman';
    color: white;
    
    
      
        

}
#CV
{
    text-align: center;
    color: yellow;
    font-weight: lighter;

}
